<h1 id="dsdh-syllabus-and-assignments"><strong>2020 DSDH Syllabus and Assignments</strong></h1>
<p>Assignments by week number (lesson number).</p>
<h1 id="lesson-1-data-science-in-healthcare">Lesson 1: Data Science in Healthcare</h1>
<p>View <strong>Lecture 1</strong>: Data Science in Healthcare</p>
<p>Post to <strong>Discussion Board</strong>: Describe the similarities and differences between Artificial Intelligence, Machine Learning, and Analytics. Use each term in a sentence.</p>
<h3 id="reading-1-data-science-in-healthcare">Reading 1: Data Science in Healthcare</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 1 “Introduction to Healthcare Analytics”</li>
<li>Suggested: Natural Language Processing in Action, Chapter 1 “Packets of Thought (NLP Overview)”</li>
<li>Suggested: Jupyter Notebook Tutorial by Karlijn Willems: <a href="https://bit.ly/ucsd-jup">bit.ly/ucsd-jup</a></li>
</ol>
<h1 id="lesson-2-spreadsheet-data-science">Lesson 2: Spreadsheet Data Science</h1>
<p>View <strong>Lecture 2</strong>: Spreadsheet Data Science</p>
<p>Post to <strong>Discussion Board</strong>: Give one example of a machine learning model type and the kind of problem it might be used for (hint: p. 53, 54 and 57 describe 3 model types).</p>
<h3 id="reading-2-spreadsheet-data-science">Reading 2: Spreadsheet Data Science</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 3 “Machine Learning Foundations”</li>
<li>Suggested: <em>The Book of Why: The New Science of Cause and Effect</em>, Chapter 3: “From Evidence to Causes”</li>
<li>Suggested: Simple Linear Regression by Jason Brownlee: <a href="https://bit.ly/ucsd-sheet">bit.ly/ucsd-sheet</a></li>
</ol>
<h1 id="lesson-3-statistics-privacy">Lesson 3: Statistics &amp; Privacy</h1>
<p>View <strong>Lecture 3</strong>: Statistics &amp; Privacy</p>
<p>Post to <strong>Discussion Board</strong>:</p>
<h3 id="reading-3-statistics-privacy">Reading 3: Statistics &amp; Privacy</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 5 p. 127-131 “Introduction to scikit-learn”</li>
<li><strong>Required</strong>: Veritasium YouTube Explanation of Bayes Rule using Common Sense: <a href="https://bit.ly/ucsd-bayes">bit.ly/ucsd-bayes</a></li>
<li>Suggested: <a href="https://www.manning.com/books/natural-language-processing-in-action">Natural Language Processing in Action</a>, Chapter 2 “Build Your Vocabulary (tokenization)”</li>
<li>Suggested: <em>Statistical Thinking in Python</em>, DataCamp tutorial: <a href="https://bit.ly/ucsd-eda">bit.ly/ucsd-eda</a></li>
</ol>
<h1 id="lesson-4-clinical-data-science-machine-learning">Lesson 4: Clinical Data Science &amp; Machine Learning</h1>
<p>View <strong>Lecture 4</strong>: Clinical Data Science &amp; Machine Learning</p>
<p>Post to <strong>Discussion Board</strong>: Share the challenges you had in building a machine learning model to predict diabetes prediction models. Can you think of any ways to improve its accuracy?</p>
<h3 id="reading-4-clinical-data-science-machine-learning">Reading 4: Clinical Data Science &amp; Machine Learning</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 7: “Making Predictive Models in Healthcare”</li>
<li>Suggested: “AI outperforms doctors diagnosing breast cancer,”" BBC News: <a href="https://bit.ly/ucsd-bc">bit.ly/ucsd-bc</a></li>
<li>Suggested: <a href="https://www.manning.com/books/natural-language-processing-in-action">Natural Language Processing in Action</a>, Chapter 3 “Math with Words (TF-IDF vectors)”</li>
</ol>
<h1 id="lesson-5-deep-learning-computer-vision">Lesson 5: Deep Learning &amp; Computer Vision</h1>
<p>View <strong>Lecture 5</strong>: Deep Learning &amp; Computer Vision</p>
<p>Post to <strong>Discussion Board</strong>: Which features were most helpful when creating a deep learning model on the deep learning playground? How many total neurons and layers did you need to achieve high accuracy on the spiral classification problem? If you used more features were you able to reduce the number of neurons required to fit to the spiral data well?</p>
<h3 id="reading-5-deep-learning-computer-vision">Reading 5: Deep Learning &amp; Computer Vision</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 9: “The Future – Healthcare and Emerging Technologies”</li>
<li>Suggested: <a href="https://www.manning.com/books/natural-language-processing-in-action">Natural Language Processing in Action</a>, Lane et al – Chapter 5 “Baby Steps with Neural Networks”</li>
<li>Suggested: “Artificial intelligence in healthcare: past, present and future” Jiang et al: [bit.ly/ucsd-ai-survey][https://bit.ly/ucsd-ai-survey]</li>
<li>Suggested: View 8 minutes of <a href="https://www.youtube.com/watch?v=EJsD-3jtXz0&amp;feature=youtu.be&amp;t=3403">Thinking Tools, 56:44 to 1:04:00</a> by Daniel Dennet</li>
</ol>
<h1 id="lesson-6-natural-language-processing">Lesson 6: Natural Language Processing</h1>
<p>View <strong>Lecture 6</strong>: Natural Language Processing</p>
<p>Post to <strong>ucsd.qary.me</strong>: Ask TA Bot 5 questions about Data Science, Machine Learning, Python, or Digital Health: <a href="http://ucsd.qary.me">ucsd.qary.me</a>. Try to think of questions that a healthcare practitioner would have and questions that cannot be answered using a search engine like Duck Duck Go.</p>
<h3 id="assignments">Assignments</h3>
<ul>
<li><strong>Exercise and Quiz</strong>: https://colab.research.google.com/drive/1Qq8yVV4KFBxH5tORnrhvuSXuhud60ZLv?usp=sharing</li>
<li><strong>Discussion</strong>: Describe some unstructured datasets you’ve seen that Natural Language Processing could help with.</li>
</ul>
<h3 id="reading-6-natural-language-processing">Reading 6: Natural Language Processing</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Data Science Handbook</em>, by Jake VanderPlas, Section 5.5: [“Classifying Text with a Naive Bayes Classifier” (<a href="https://bit.ly/ucsd-naive-bayes">https://bit.ly/ucsd-naive-bayes</a>)</li>
<li><strong>Required</strong>: “NLP for Electronic Health Records” (<a href="https://bit.ly/ucsd-nlp-ehr">bit.ly/ucsd-nlp-ehr</a>)</li>
<li>Suggested: “SECNLP:A Survey of Embeddings in Clinical Natural Language Processing” (<a href="https://bit.ly/ucsd-med-embeddings">https://bit.ly/ucsd-med-embeddings</a>) by Kalyan KS and S. Sangeetha</li>
<li>Suggested: <a href="https://topflightapps.com/ideas/ai-in-healthcare-how-chatbots-are-digitizing-patient-care/">Chatbots in Healthcare</a></li>
<li>Suggested: <a href="https://www.manning.com/books/natural-language-processing-in-action">Natural Language Processing in Action</a> by Lane et al – Chapter 7 “Getting words in order with convolutional neural networks (CNNs)”</li>
</ol>
<h1 id="lesson-7-bioinformatics-genomics">Lesson 7: Bioinformatics &amp; Genomics</h1>
<p>View <strong>Lecture 7</strong>: Bioinformatics &amp; Genomics</p>
<p>Post to <strong>Discussion Board</strong>:</p>
<h3 id="reading-7-bioinformatics-genomics">Reading 7: Bioinformatics &amp; Genomics</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 8 p 215-220: “Cancer”</li>
<li><strong>Suggested</strong>: <a href="http://biopython.org/DIST/docs/tutorial/Tutorial.html"><em>Biopython Tutorial and Cookbook</em></a> Chapter 1: Introduction (<a href="https://bit.ly/ucsd-bipython-1">http://bit.ly/ucsd-biopy</a>)</li>
<li><strong>Suggested</strong>: <a href="http://biopython.org/DIST/docs/tutorial/Tutorial.html"><em>Biopython Tutorial and Cookbook</em></a> Chapter 2: Quick Start (<a href="https://bit.ly/ucsd-bipython-2">http://bit.ly/ucsd-biopython-2</a>)</li>
<li>Suggested: View <a href="https://youtu.be/NT9hBuBAexg">“Introduction to Genetics and Genomics”</a> by Chris Keown</li>
<li><em>Intuition Pumps and Other Tools for Thinking</em> by Daniel Dennet p. 185-217 (pumps 33-37 Tools about Evolution)</li>
<li><a href="https://en.wikipedia.org/wiki/Darwin%27s_Dangerous_Idea">en.wikipedia.org/wiki/Darwin’s Dangerous Idea</a> by Daniel Dennet, summarized on Wikipedia</li>
<li><strong>Suggested</strong>: <em>21 Lessons for the 21st Century</em>, Chapter 1: “Introduction”</li>
</ol>
<h1 id="lesson-8-tbd-assistive-technology-ethics">Lesson 8 (TBD): Assistive Technology, Ethics</h1>
<p>View Lecture 8: Assistive Technology, Ethics</p>
<p>Post to <strong>Discussion Board</strong>:</p>
<h3 id="reading-8-tbd-assistive-technology-ethics">Reading 8 (TBD): Assistive Technology, Ethics</h3>
<ol type="1">
<li><strong>Required</strong>: <a href="https://www.youtube.com/watch?v=gkbNH39QE0Q">Coded Bias</a> by Joy Buolamwini</li>
<li><strong>Required</strong>: <a href="https://med.stanford.edu/news/all-news/2018/03/researchers-say-use-of-ai-in-medicine-raises-ethical-questions.html">Researchers say use of artificial intelligence in medicine raises ethical questions</a> by Patricia HannonStanford Medicine Magazine</li>
<li>Suggested: <em>The Book of Why: The New Science of Cause and Effect</em>, Chapter 7: “Beyond Adjustment”</li>
</ol>
<h1 id="lesson-9-tbd-healthcare-systems-modeling">Lesson 9 (TBD): Healthcare Systems Modeling</h1>
<p>View <strong>Lecture 9</strong>: Healthcare Systems Modeling</p>
<p>Post to <strong>Discussion Board</strong>:</p>
<p>Exercise 9: Predict excess readmission rate</p>
<h3 id="reading-9-tbd-healthcare-systems-modeling">Reading 9 (TBD): Healthcare Systems Modeling</h3>
<ol type="1">
<li>Suggested: Data Science for Healthcare: Methodologies and Applications – p. 347-365 “Leveraging Financial Analytics..”</li>
<li>Suggested: “Modeling Organizational Deerminant of Hospital Mortality”, Al-Haider and Wan 1991, bit.ly/ucsd-hosp1991</li>
<li>Suggested: Biomedical Informatics, Shortliffe et al – Ch 12 “EHR”</li>
</ol>
<h1 id="lesson-10-public-health-epidemiology">Lesson 10: Public Health &amp; Epidemiology</h1>
<p>View <strong>Lecture 10</strong>: Public Health &amp; Epidemiology</p>
<p>Post to <strong>Discussion Board</strong>:</p>
<h3 id="reading-10-public-health-epidemiology">Reading 10: Public Health &amp; Epidemiology</h3>
<ol type="1">
<li><strong>Required</strong>: <em>Healthcare Analytics Made Simple</em>, Chapter 9: “The Future – Healthcare and Emerging Technologies”, p 227-230. Reread first 4 pages of chapter paying close attention to mention of flu epidemic forecasting on page 229.</li>
<li><strong>Required: Talking Machines</strong>, April 2, 2020: “Talking Machines Live and Understanding Modeling Viruses” <a href="https://www.thetalkingmachines.com/index.php/episodes/talking-machines-live-and-understanding-modeling-viruses">https://bit.ly/ucsd-mechanistic</a></li>
<li>Suggested: <em>The Book of Why: The New Science of Cause and Effect</em>, Chapter 5: “The Smoke-Filled Debate”</li>
<li>Suggested: <em>Biomedical Informatics</em>, Shortliffe – Ch 15 “Pub Health”</li>
</ol>
