<h1 id="l6-natural-language-processing">1.1 (1): L6: Natural Language Processing</h1>
<p>Hobson Lane, UC San Diego Instructor</p>
<aside class="notes">
I’m Hobson Lane. I am really excited about this week’s lesson. Natural language processing is my favorite part of Data Science. I love being able to put together machines that understand natural language and think for themselves. I enjoy it so much that four years ago I recruited some of my students to help me write a book about it. The publisher insisted we call it <em>Natural Language Processing in Action</em>. If we’d had our way we would have called how to build a chatbot to save you from information overload and manipulation. Just as the flood of data has made machine learning possible, it is also overwhelming our brains. It’s hard to tell rumor from fact. And everyone feels the need to be an expert at everything. In the healthcare field, there is even more pressure to understand it all. Natural Language Processing will help you in your healthcare work by relieving you of reading volumes of data on patients, drugs, and disease. Machines can now sift through all that for you. I truly believe that natural language processing could be the key to building prosocial machines that help save us from ourselves.
</aside>
<h1 id="logistics">1.2 (2): Logistics</h1>
<aside class="notes">
<p>Before we dive into natural language processing let’s talk about logistics. It took me a bit longer to prepare the lesson this week. But I think you’ll like it. I’ve broken the lengthy lectures into bite sized chunks. That way you can review the ones that are most useful, without searching through a long video.</p>
<p>Also, I’m a big fan of the power of Open Source. So, I’ll provide the slides in a separate ODP (Open Office Presentation) file. That way you can search the text and reuse any part of it in your office or at home. I’m releasing it under the Hippocratic “Do No Harm” (MIT) open source license. So feel free to reuse it however you like to help others get up to speed on Data Science for Healthcare.</p>
And if you know how to use <code>gitlab.com</code>, you can even what future lectures look like by visiting the gitlab link listed here.
</aside>
<h1 id="two-questions">1.3 (3): Two Questions</h1>
<p>What is Natural Language Processing?</p>
<p>How can NLP be used in Healthcare?</p>
<aside class="notes">
So you’re probably wondering, “What is Natural Language Processing anyway?” and, “How can I use it in the healthcare profession?” That’s what this lesson is all about. You’ll have the answers to these and many more questions by the end of this lesson.
</aside>
<h1 id="agenda">1.4 (4): Agenda</h1>
<p>“each word’s meaning” -&gt; <code>{  'each': 1, 'word': 2, "'s": 3, 'meaning': 4 }</code> “What is Coronavirus?” -&gt; <code>"COVID-19 is an infectious disease caused ..."</code></p>
<p>Natural language Analyze text Represent text as numbers Meaningful representations Word vectors Applications Semantic search Summarization Conversational AI Therapy Triage</p>
<aside class="notes">
<p>Here’s your agenda for today. The goal of Natural Language Processing in to engineer some features from natural language text so that your normal Machine Learning Models can work with it. This means you need to convert natural language text into a numerical representation that captures its meaning.</p>
<p>To do this you first must break the text into chunks that are meaningful. That way you can give each piece of text a numerical representation. So the first thing you’ll learn is what those chunks of meaning are. Hint: these chunks of meaning are called <em>tokens</em>.</p>
<p>After that you’ll learn some meaningful numerical representations of those chunks as well as entire sentences, pages, or documents of text. One of the most popular and meaningful representations of tokens is called a word vector. You’ll see some example uses for these word vectors and some of the challenges and the magic of these high dimensional word vectors.</p>
<p>Then you will see how to use vector representations of natural language text for machine learning and semantic search. You may have heard of IBM Watson being used for medical diagnosis support and cognitive search. You will learn about this cognitive search application of natural language processing.</p>
Finally you will learn about conversational AI or chatbots and how they are used in healthcare. Conversational AI is particularly useful in underdeveloped healthcare systems such as in rural India, South America, Oceania, and Africa.
</aside>
<h1 id="what-is-nlp">1.5 (5): What is NLP</h1>
<ol type="1">
<li>Psychology: human (animal) language understanding</li>
<li>Linguistics: natural language structure</li>
<li>Math: formal grammars for processing natural language</li>
<li>Engineering: computer systems that <em>understand</em> NL input and/or generate NL output
<ul>
<li>Understanding (NLU)</li>
<li>Generation (NLG)</li>
</ul></li>
</ol>
<aside class="notes">
<p>If you study the psychological processes involved when you read or write or speak natural language, then your courses and graduate studies will likely be in the Psychology or Neuroscience department.</p>
<p>If you study linguistics, you may have your own linguistics department and you will take courses in the computer science, English, and even social sciences departments.</p>
<p>If you study the engineering of NLP systems most of your classes will be in a computer science department. As a computer scientist or software engineer you might think of your job as kind of like building compilers for natural language.</p>
<p>If you study the grammars used for those compilers of natural language, your classes will be in the mathematics department. You might think of your role as designing formal logic grammars and using those to generate formal logical proofs of theorems, all in natural language that humans can understand.</p>
<p>In this lecture you’ll be shying away from the neuroscience and math behind natural language processing and focus more on the practicalities of it. You will concentrate most of your effort on the engineering of NLP systems that can feed your Data Science pipeline with data.</p>
<p>Many scientists believe, like I do, that if you can build an NLP system, you will have a far deeper understanding of what’s going on in your brain when you read text. This is the most practical and approachable aspect of NLP. You will soon learn how to build a “recipe” of computer instructions (python code) to read, understand, and even write sensible natural language text. Hopefully I will be able to infect you with my fascination for the magic of machines that can interact with us in our own language.</p>
It’s scary and awe inspiring at the same time, to think that you are interacting with those machines daily. And sometimes you may not even know that it’s a machine and not a human on the other end of the conversation.
</aside>
<p><a href="https://dash.harvard.edu/bitstream/handle/1/17017334/finlp.pdf">Foundational Issues in Natural Language Processing: Introduction</a>, Sells, Peter, Stuart M. Shieber, and Thomas Wasow. 1991. (c) MIT Press.</p>
<hr />
<h1 id="tokens-of-meaning">2.1 (6): Tokens of Meaning</h1>
<p><code>tokenize("Each word's meaning is unique.")</code></p>
<aside>
<p>So now you’re going to learn how to break text into pieces of meaning. In natural language processing you normally call these pieces of meaning tokens. If you used a more specific term like characters or words you wouldn’t have much flexibility.<br />
The verb we use to talk about breaking text into tokens is <em>tokenize</em>.<br />
The process of <em>tokening</em> text is call <em>tokenization</em>.</p>
It’s probably not surprise that in most NLP packages, such as NLTK, the tokenizer can be found in an object called <code>Tokenizer</code>.<br />
And the function you want to call is named <code>tokenize</code>.
</aside>
<h1 id="text-pieces-tokens">2.2 (7): Text Pieces (tokens)</h1>
<pre><code>tokenize(&quot;Each word ...&quot;)</code></pre>
<p>Characters:</p>
<aside>
<p>In some situations you will want to use characters as your atoms of meaning. Characters are the smallest and simplest possible token for text processing.</p>
<p>Characters are a particularly useful token in healthcare, where new words and terminology are being created daily. Think of the ever expanding list of drug names and chemical compound names and even surgical procedure names and codes. If you use characters as your atoms of text, then your NLP pipeline can understand brand new text, even if it’s never seen a word before.</p>
How do you tokenize a string into characters in Python?
</aside>
<h1 id="text-pieces-tokens-1">2.3 (8): Text Pieces (tokens)</h1>
<pre><code>**list**(&quot;Each word ...&quot;)</code></pre>
<p>Characters:</p>
<aside>
To separate a string into characters in Python you do not even need to install a tokenizer.<br />
If you like you can use the built-in <code>list</code> function.<br />
It will iterate through all the elements of an iterable and create a list of them all for you automatically.<br />
Here is how you can do that for this natural language text string.
</aside>
<h1 id="text-pieces-tokens-2">2.4 (9): Text Pieces (tokens)</h1>
<pre><code>**list**(&quot;Each word ...&quot;)</code></pre>
<p>Characters: <code>E, a, c, h, ...</code></p>
<aside>
To separate a string into characters in Python you do not even need to install a tokenizer.<br />
If you like you can use the built-in <code>list</code> function.<br />
It will iterate through all the elements of an iterable and create a list of them all for you automatically.<br />
Here is how you can do that for this natural language text string.
</aside>
<h1 id="text-pieces-tokens-3">2.5 (10): Text Pieces (tokens)</h1>
<pre><code>tokenize(&quot;Each word ...&quot;)</code></pre>
<p>Words:</p>
<aside>
Characters work OK sometimes, but in many situations you will want to use words as your atoms of meaning. Words are the way most human brains gather up concepts into one bucket and store those concepts. You can think of characters as the bits or bytes in a computer. They are very flexible and can be combined to represent almost anything. But they don’t really mean much in isolation. You can’t really get much information from single character in isolation. And there are infinite possibilities for all the character combinations you might see out there in the world. So it helps to narrow the focus of our machine, to only pay attention to the character combinations that appear together often. Words are those useful combinations. And you can get a lot of meaning from a document just by knowing whether or not it contains a word. This is why you enter words into search engines like DuckDuckGo.<br />

</aside>
<h1 id="text-pieces-tokens-4">2.6 (11): Text Pieces (tokens)</h1>
<pre><code>str.split(&quot;Each word ...&quot;)</code></pre>
<p>Words:</p>
<aside>
Words are almost as easy to split in Python.<br />
Python was made for processing text.<br />
To separate a string into words in Python, you can get pretty good results just using the <code>split()</code> function. This will split your string into a list of strings based on whatever character you want to split on.<br />
If you don’t tell the split function which character you want to split on, it will just look for spaces between words.<br />
This split function exists on the <code>str</code> type or object.<br />
So if you like you can call the <code>str.split()</code> function to split a string into words.<br />

</aside>
<h1 id="text-pieces-tokens-5">2.7 (12): Text Pieces (tokens)</h1>
<pre><code>&quot;Each word ...&quot;.split()</code></pre>
<p>Words:</p>
<aside>
Because <code>split</code> is a method on the <code>str</code> object, you can also call it as a method.<br />
This might save you a few keystrokes, but it does exactly the same thing.<br />
It will still return a list of all the space-delimited words in your string.<br />

</aside>
<h1 id="text-pieces-tokens-6">2.8 (13): Text Pieces (tokens)</h1>
<pre><code>&quot;Each word ...&quot;.split()</code></pre>
<p>Words: [‘Each’, “word’s”, ‘meaning’, … ‘unique.’</p>
<aside>
<p>If you use this quick and dirty tokenizer, <code>.split()</code>, you will get words that include punctuation.<br />
If there’s not space between characters then those characters get lumped together into a single token.<br />
So contractions and hyphenated words are treated as a single packet of meaning.<br />
This means your NLP pipeline will treat the word “unique” differently than “unique-period”. Your NLP pipeline will be able to make better sense of the text if you separate the punctuation from words and split apart compound words and contractions.</p>
Imagine how important it is for duckduckgo to remove the period from the end of the word unique.<br />
If it didn’t do this, whenever your searches included the word unique, all those pages that had unique at the end of a sentence would be ignored.
</aside>
<h1 id="text-pieces-tokens-7">2.9 (14): Text Pieces (tokens)</h1>
<p>[‘Each’, ‘word’, "‘s", ’meaning’, …</p>
<aside>
Finally you get to see what a real tokenizer does and what tokens really look like.<br />
Within the NLTK package there is a module called tokenize where you’ll find a variety of tokenizers.<br />
The one that you’ll use for most healthcare problems is called <code>word_tokenize</code>. As you might guess it splits text into words.<br />
It does it much better than the <code>.split()</code> method.<br />
It pays attention to punctuation and splits contractions into two words or more.
</aside>
<h1 id="text-pieces-tokens-8">2.10 (15): Text Pieces (tokens)</h1>
<p>[‘Each’, ‘word’, "‘s", ’meaning’, …</p>
<aside>
As you might guess the <code>word_tokenize</code> function splits text into real words.<br />
It does it much better than the <code>.split()</code> method.<br />
It pays attention to punctuation and splits contractions into two words or more. So you won’t end up with periods and question marks clinging to your words.
</aside>
<hr />
<h1 id="n-grams">N-Grams</h1>
<h1 id="character-level-n-grams">3.1 (16): Character-level N-grams</h1>
<p>1-gram: h</p>
<aside>
not much meaning to an isolated character level 1-gram counting up the frequency of the character 1-gram “h” might not help you much, unless you were trying to decrypt a simple child’s game cypher like a Roman Cypher or a secret message encrypted by a child with a decoder ring from a box of captain crunch or cracker jacks.
</aside>
<h1 id="character-level-n-grams-1">3.2 (17): Character-level N-grams</h1>
<p>2-gram: he</p>
<aside>
male human in your documents
</aside>
<h1 id="character-level-n-grams-2">3.3 (18): Character-level N-grams</h1>
<p>3-gram: hea</p>
<aside>
not in your dictionary
</aside>
<h1 id="character-level-n-grams-3">3.4 (19): Character-level N-grams</h1>
<p>4-gram: hear</p>
<aside>
audiology lab?
</aside>
<h1 id="character-level-n-grams-4">3.5 (20): Character-level N-grams</h1>
<p>5-gram: heart</p>
<h1 id="character-level-n-grams-5">3.6 (21): Character-level N-grams</h1>
<p>tokenize(“Each word’s …”, n_grams=(1,3))</p>
<aside>
<p>Just when you thought you knew all the different ways to tokenize text, there’s more! N-grams. Gram is just another word for token.<br />
A gram can be a character a word-piece or a whole word.</p>
An N-gram is a continuous sequence of <code>N</code> tokens or grams. It turns out that tokens are more meaningful if you consider pairs and triplets of them together. You can use the n_grams argument in most tokenizers to specify a range of N values you’d like to consider.<br />
For these examples you’ll be working with 1-grams, 2-grams, and 3-grams.<br />
So we use the n_grams argument of (1, 3), specifying the minimum and maximum number of n_grams you want.
</aside>
<h1 id="character-level-n-grams-6">3.7 (22): Character-level N-grams</h1>
<p>tokenize(“Each word’s …”, n_grams=(1,3))</p>
<h1 id="character-level-n-grams-7">3.8 (23): Character-level N-grams</h1>
<p>tokenize(“Each word’s …”, n_grams=(1,3))</p>
<h1 id="character-level-n-grams-8">3.9 (24): Character-level N-grams</h1>
<p>“<strong>E</strong>ach word’s meaning is unique”</p>
<h1 id="character-level-n-grams-9">3.10 (25): Character-level N-grams</h1>
<p>“E<strong>a</strong>ch word’s meaning is unique”</p>
<h1 id="character-level-n-grams-10">3.11 (26): Character-level N-grams</h1>
<p>“Ea<strong>c</strong>h word’s meaning is unique”</p>
<h1 id="character-level-n-grams-11">3.12 (27): Character-level N-grams</h1>
<p>“Eac<strong>h</strong> word’s meaning is unique”</p>
<h1 id="character-level-n-grams-12">3.13 (28): Character-level N-grams</h1>
<p>“Each word’s meaning is unique”</p>
<p>" "</p>
<h1 id="character-level-n-grams-13">3.14 (29): Character-level N-grams</h1>
<p>“Each word’s meaning is unique”</p>
<p>“w”</p>
<h1 id="character-level-n-grams-14">3.15 (30): Character-level N-grams</h1>
<p>“<strong>Ea</strong>ch word’s meaning is unique”</p>
<p>‘E’, ‘a’ “Ea”</p>
<h1 id="character-level-n-grams-15">3.16 (31): Character-level N-grams</h1>
<p>“Each word’s meaning is unique”</p>
<p>‘E’, ‘a’, ‘c’ ‘Ea’, ‘ac’ ‘Eac’</p>
<h1 id="character-level-n-grams-16">3.17 (32): Character-level N-grams</h1>
<p>“Each word’s meaning is unique”</p>
<p>‘h’, ’ ‘, ’w’ ‘h’, ’ w’ ‘h w’</p>
<h1 id="character-level-n-grams-17">3.18 (33): Character-level N-grams</h1>
<p>The quick brown fox jumped over the lazy dog. len(Counter(“The quick …”))</p>
<h1 id="character-level-n-grams-18">3.18 (33): Character-level N-grams</h1>
<p>The quick brown fox jumped over the lazy dog. len(Counter(“The quick …”))</p>
<aside>
How many unique characters do you expect to find in the text for this sentence. It should contain all the characters in the English language, right? Will this python code return 23, one count for each letter om Emglish?
</aside>
<h1 id="character-level-frequency-analysis">3.19 (34) Character-level Frequency Analysis</h1>
<blockquote>
<blockquote>
<blockquote>
<p>len(Counter(“The quick brown fox jumped over the lazy dog.”)) 28</p>
</blockquote>
</blockquote>
</blockquote>
<aside>
Why 28? Where did the extra letters come from.
</aside>
<h1 id="character-level-frequency-analysis-1">3.20 (35) Character-level Frequency Analysis</h1>
<p>from collections import Counter Counter(“The quick brown fox jumped over the lazy dog.”)</p>
<p>{’ ‘: 8, ’e’: 4, ‘o’: 4, ‘h’: 2, ‘u’: 2, ‘r’: 2, ‘d’: 2, ‘T’: 1, ‘q’: 1, ‘i’: 1, ‘c’: 1, ‘k’: 1, ‘b’: 1, ‘w’: 1, ‘n’: 1, ‘f’: 1, ‘x’: 1, ‘j’: 1, ‘m’: 1, ‘p’: 1, ‘v’: 1, ‘t’: 1, ‘l’: 1, ‘a’: 1, ‘z’: 1, ‘y’: 1, ‘g’: 1, ‘.’: 1}</p>
<h1 id="capitalization-matters">3.21 (36) Capitalization Matters</h1>
<p>from collections import Counter Counter(“The quick brown fox jumped over the lazy dog.”)</p>
<p>{’ ‘: 8, ’e’: 4, ‘o’: 4, ‘h’: 2, ‘u’: 2, ‘r’: 2, ‘d’: 2, <strong>‘T’: 1</strong>, ‘q’: 1, ‘i’: 1, ‘c’: 1, ‘k’: 1, ‘b’: 1, ‘w’: 1, ‘n’: 1, ‘f’: 1, ‘x’: 1, ‘j’: 1, ‘m’: 1, ‘p’: 1, ‘v’: 1, ‘t’: 1, ‘l’: 1, ‘a’: 1, ‘z’: 1, ‘y’: 1, ‘g’: 1, ‘.’: 1}</p>
<p># 3.22 (37) Don’t forget white space</p>
<p>from collections import Counter Counter(“The quick brown fox jumped over the lazy dog.”)</p>
<p>{<strong>’ ’: 8</strong>, ‘e’: 4, ‘o’: 4, ‘h’: 2, ‘u’: 2, ‘r’: 2, ‘d’: 2, ‘T’: 1, ‘q’: 1, ‘i’: 1, ‘c’: 1, ‘k’: 1, ‘b’: 1, ‘w’: 1, ‘n’: 1, ‘f’: 1, ‘x’: 1, ‘j’: 1, ‘m’: 1, ‘p’: 1, ‘v’: 1, ‘t’: 1, ‘l’: 1, ‘a’: 1, ‘z’: 1, ‘y’: 1, ‘g’: 1, ‘.’: 1}</p>
<h1 id="section">38</h1>
<p>Word level N-grams</p>
<h1 id="section-1">39</h1>
<p>Word-lvel N-gram examples</p>
<p>cream John Lewis Flowers for Algernon Rosa … Parks 21 Lessons …</p>
<h1 id="applications">40: Applications</h1>
<ul>
<li>Search:
<ul>
<li>Information Retrieval</li>
<li>Information Extraction</li>
<li>Question Answering</li>
</ul></li>
<li>Summarization</li>
<li>Triage</li>
</ul>
<h1 id="search">Search</h1>
<p>TFIDF Vectors for search</p>
<aside>
If a page contains the words you’re looking for, Thinking about words a bit more for a moment, consider the ambiguity Think of all the concepts gathered up in the word “heart”. You can think of it in a medical context as that piece of muscle that pumps blood. You might also talk to patients about having heart or courage to get through a tough time, like this global pandemic. Or you might even
</aside>
<h1 id="application-translation">Application: Translation</h1>
<p>English -&gt; French</p>
<h1 id="application-english---french">Application: English -&gt; French</h1>
<p>Google Translate</p>
<aside>
Most natural language processing technology made advances by learning to translate texts. There are a massive amount of training examples where books and documents have been translated by humans. Machines learned from our translation work.
</aside>
<h1 id="application-translation-1">Application: Translation</h1>
<p>English -&gt; French Latin -&gt; English</p>
<h1 id="application-translation-2">Application: Translation</h1>
<p>Medical Jargon -&gt; Common English Drug Names -&gt; Chemical Compound Names</p>
<aside>
Style transfer works for technical jargon as well as playful examples you might see online: making your text look like Hemmingway, or Shakespear. Useful in building apps and interfaces to medical data, including a patient’s medical record, understandable by regular humans.
<aside>
<p>“Los computadores comprende Francaise ausi” -&gt; french2english NLP -&gt; “Computers understand French as well.”</p>
<aside class="notes">
building machines that could understand french text and generate equivalent English statements is one of the most important problems in NLP that brought
</aside>
<h1 id="sentiment-analysis">Sentiment Analysis</h1>
<p>“Google stinks!” # use vader and get 2-d score “What is NLP” # use word2vec and get 4x3 score</p>
<h1 id="onc">ONC</h1>
<p>Office of the National Coordinator for Health IT (ONC)</p>
<h3 id="resources">Resources</h3>
<p><a href="https://www.healthit.gov/buzz-blog/electronic-health-and-medical-records/international-health-standards-closer-onc-efforts">Open Standards for Certifying EHR Systems</a> ucsd-digital-health-data-science-L8-nlp-slides</p>
<h1 id="what-is-nlp-1">1: What is NLP</h1>
<ol type="1">
<li>Psychology: human (animal) language understanding</li>
<li>Linguistics: natural language structure</li>
<li>Math: formal grammars for processing natural language</li>
<li>Engineering: computer systems that <em>understand</em> NL input and/or generate NL output
<ul>
<li>Understanding (NLU)</li>
<li>Generation (NLG)</li>
</ul></li>
</ol>
<div class="notes">
<p>If you study the psychological processes involved when you read or write or speak natural language, then your courses and graduate studies will likely be in the Psychology or Neuroscience department.</p>
<p>If you study linguistics, most of your courses will be in the English department, or whatever your native language is.</p>
<p>If you study the engineering of NLP systems most of your classes will be in a computer science department and you will think of your job as kind of like building compilers for natural language.</p>
<p>If you study the grammars that are useful of NLP your classes will be in the mathematics department and you will think of your job as designing formal logic grammars and using those to generate formal logical proofs of theorems in natural language.</p>
<p>You will learn about all of these perspectives on NLP in this lecture. But you will concentrate most of your effort on the engineering of NLP systems. In my opinion, if you can build an NLP system, you will have a far deeper understanding of the psychology and This is the most practical and aproachable aspect of NLP. You will soon learn how to build a “recipe” of computer instructions (python code) to read, understand, and generate natural language text. Hopefully I will be able to infect you with my fascination for the magic of machines that can interact with us in our own language so well that we can hardly tell they are not human. It’s scary and inspiring at the same time.</p>
</div>
<p><a href="https://dash.harvard.edu/bitstream/handle/1/17017334/finlp.pdf">Foundational Issues in Natural Language Processing: Introduction</a>, Sells, Peter, Stuart M. Shieber, and Thomas Wasow. 1991. (c) MIT Press.</p>
<h1 id="magical-valley-of-nlp">2: Magical Valley of NLP</h1>
<figure>
<img src="media/uncanny_valley.png" alt="" /><figcaption>Mashiro Mori’s Uncanny Valley diagram. This shows user satisfaction with humanoid robotics technology on teh vertical axis. The horizontal axis shows the advancement of technology and time. More advanced technologies are shown on the right of the plot. As technology advances from left to right there is a gradual increase in satisfaction with technology until it reaches the lip of the uncanny valley and user satisfaction drops while anxiety increases, due to the creepiness of some advanced robotic systems. to the right of this dip, customer satisfaction climbs again as technology advances and we forget that the machine is not a human.</figcaption>
</figure>
<div class="notes">
<p>Diagram alt text: …</p>
<p>Let’s explore deep into the uncanny valley together.</p>
<p>The diagram here was sketched by Mashiro Mori in 1970, just as personal computers were being developed and systems like conversational AI programs like ELIZA were becoming popular.</p>
<p>Systems that look like a human body, but don’t act like them probably trigger an emotional response similar to what you experience when you see a dead body (corpse) or see a zombie movie. We have probably evolved to detect the subtle behavioral cues of sickness or mental illness. This same discomfort with humanoid robots can also sometimes be triggered by chatbots, estpecially if the bot is given a voice that sounds relatively human. See if you can sense your own creepiness as you have a conversation with Alexa or Google Assistant. Those engineers have worked very hard to ensure that you don’t get creeped out. This isn’t the creepiness you feel when it seems like the bot anticipates your actions before you even know you are going to do something. This is the creepiness of hearing some subtle cues in the voice that is unnatural, while at the same time imagining that it is a human mind at work.</p>
</div>
<p><a href="https://en.wikipedia.org/wiki/Uncanny_valley#/media/File:Mori_Uncanny_Valley.svg">Uncanny Valley</a> <a href="https://en.wikipedia.org/wiki/Masahiro_Mori_(roboticist)">Mashiro Mori</a></p>
<h1 id="language-model">4: Language Model</h1>
<p>Your blood pressure is too ______ .</p>
<p>How old are ________ ?</p>
<p>Does it hurt when you ________ ?</p>
<p>Do you have a family history of ________ ?</p>
<p>Dr. ________ told me the diagnosis .</p>
<p>Patient LDL level is 100, ________ level is 50, and the total is .</p>
<p>Dr. Smith gave me ________ best estimate .</p>
<h1 id="your-blood-pressure-is-too">5: Your blood pressure is too</h1>
<p>P=0.65 high</p>
<p>P=0.30 low</p>
<p>P=0.05 erratic</p>
<div class="notes">
<p>Your</p>
</div>
<h1 id="how-old-are">6: How old are</h1>
<p>P=0.95 you</p>
<p>P=0.03 they</p>
<p>P=0.01 y’all</p>
<p>P=0.01 yous</p>
<h1 id="does-it-hurt">7: Does it hurt</h1>
<p>How old are you? P=0.95</p>
<p>How old are they? P=0.03</p>
<p>How old are y’all? P=0.01</p>
<p>How old are yous? P=0.01</p>
<p>Do you have a family history of ________ ?</p>
<p>Dr. ________ told me the diagnosis .</p>
<p>Patient LDL level is 100, ________ level is 50, and the total is .</p>
<p>Dr. Smith gave me ________ best estimate .</p>
<h1 id="monty-hall-fallacy">3: Monty Hall Fallacy</h1>
<p>Real life applications:</p>
<ul>
<li>you suspect a patient has one of 3 genes that could cause a disease and you plan to treat based on that one genetic abnormality, then another doctor does a test that confirms the patient does not have one of the others. Should you change your treatment? (must assume that only 1 Gene is present otherwise the abnormality would be greater and the cause obvious, like XOR condition).</li>
<li>collider on the door chosen to be opened by Monty Hall</li>
</ul>
<h1 id="explain-away-fallacy">4: Explain Away Fallacy</h1>
<ul>
<li>collider where one cause negates the other</li>
<li>two possible causes of test results then find out that one cause is present, that makes it less likely that the other cause is present</li>
</ul>
<h1 id="berksons-paradox">5: Berkson’s Paradox</h1>
<ul>
<li><p>2 diseases required for admission to hospital (admission’s bias) causing <code>bone disease</code> and <code>resperatory disease</code> to be correlated</p>
<pre><code>             , general populaiton, general populaiton, general populaiton, hospitalized</code></pre>
<p>resperatory disease, bone disease yes, bone disease no, % bone disease,</p></li>
</ul>
<h1 id="before-cause-there-was-corroboration">6: Before Cause there was Corroboration</h1>
<ul>
<li>strength of correlation</li>
<li>agreement with physics</li>
<li></li>
</ul>
